---
import Layout from '../../layouts/Main.astro';
import BreadCrumbs from "../../components/BreadCrumbs.astro";

import hero from '../../assets/img/exclusive-purchases-hero.jpg';
---

<Layout
        title="Эксклюзивные покупки"
        heroImg={hero}
        heroTitle="ЭКСКЛЮЗИВНЫЕ ПОКУПКИ"
>
    <BreadCrumbs/>
    <div class="container" style="max-width: 1010px;margin: auto; padding: 50px 0 70px 0;">
        <h5 class="text-justify">
            Подарок возлюбленной? Редкая вещь для коллеги или просто что-то коллекционное для себя? Наши менеджеры смогут найти для вас все. Мы сотрудничаем с крупнейшими магазинами, универмагами компаниями по всему миру, поэтому клиенты Limotis получают все товары напрямую. Без ожидания и посредников.
            <br><br>
            <ul class="list">
                <b><li>Предметы искусства</li></b>
            </ul>
            C аукционов или из частных коллекций. Мы сможем приобрести для вас редкие и изысканные вещи.
            <br><br>
            <ul class="list">
                <b><li>Последние коллекции и лимитированные выпуски</li></b>
            </ul>
            Менеджеры Limotis организуют доставку одежды, аксессуаров и ювелирных изделий напрямую с подиума
            <br><br>
            <ul class="list">
                <b><li>Книги, подарки, национальные сувениры</li></b>
            </ul>
            Мы сможем доставить вам даже украшенную елку или любой товар премиум-класса. Вам остается только захотеть.
            <br><br>
            <ul class="list">
                <b><li>Конфиденциально и быстро </li></b>
            </ul>
            Начинаем работать сразу после заявки и в минимальные сроки организовываем доставку. Не задаем лишних вопросов, не комментируем ваши желания.
            <br><br>
            <ul class="list">
                <b><li>По выгодным ценам</li></b>
            </ul>
            Партнеры по всему миру предложат вам особые условия для покупок и доставки.
        </h5>
    </div>
</Layout>