---
import Layout from '../../layouts/Main.astro';
import Quote from '../../components/Quote.astro';
import BreadCrumbs from "../../components/BreadCrumbs.astro";

import hero from  '../../assets/img/health-tourism-hero.jpg';
---

<Layout
        title="Оздоровительный туризм"
        heroImg={hero}
        heroTitle="ОЗДОРОВИТЕЛЬНЫЙ ТУРИЗМ"
>
    <BreadCrumbs/>
    <div class="container" style="max-width: 1070px;margin: auto; padding: 50px 0 70px 0;">
        <h5 class="text-justify">
            Оздоровительный туризм — это возможность соединить отдых с заботой о здоровье и восстановлением сил. Наши программы включают путешествия в ведущие медицинские и спа-центры по всему миру, где предлагаются проверенные методики для укрепления тела и духа.
            <br><br>
            <b>Что включают наши программы:</b>
            <ul class="list">
                <li>Спа и wellness-центры с разнообразными процедурами для расслабления и восстановления;</li>
                <br>
                <li>Курорты с минеральными источниками для терапии, основанной на природных ресурсах;</li>
                <br>
                <li>Медицинские центры с диагностическими и оздоровительными программами, разработанными опытными специалистами;</li>
                <br>
                <li>Профессиональные программы детокса и реабилитации, включающие диетическое питание, физическую активность и релаксацию.</li>
            </ul>
            <br><br>
            <b>Оздоровительные направления:</b>
            <br>
            - Термальные курорты, где минералы и вода помогают вернуть жизненные силы;
            <br>
            - Морские побережья с программами талассотерапии, которая благотворно влияет на здоровье;
            <br>
            - Горные курорты с чистым воздухом и уникальными восстановительными методиками.
            <br><br>
            Путешествие для здоровья — это не только отдых, но и забота о своем самочувствии, укрепление иммунитета и поиск внутреннего баланса. Наша команда создает программы, которые подходят для разных целей: восстановления после интенсивной работы, общего оздоровления или детокса.
        </h5>
    </div>

</Layout>