---
import Layout from '../../layouts/Main.astro';
import BreadCrumbs from "../../components/BreadCrumbs.astro";

import hero from '../../assets/img/vip-concierge-hero.jpg';
---

<Layout
        title="Вип-консьерж"
        heroImg={hero}
        heroTitle="ВИП-КОНСЬЕРЖ"
>
    <BreadCrumbs/>
    <div class="container" style="max-width: 1100px;margin: auto; padding: 50px 0 70px 0;">
        <h2 style="margin-bottom: 40px;"><b>Консьерж-сервис: Забота о каждой <br> детали вашего путешествия</b></h2>
        <h5 class="text-justify">
            Наш консьерж-сервис — это индивидуальный подход к организации вашего путешествия, где каждая деталь продумана до мелочей. Мы заботимся о том, чтобы ваше пребывание было максимально комфортным, освобождая вас от лишних забот и предлагая решения для любых задач, связанных с поездкой.
            <br><br>
            <b>Что включает консьерж-сервис?</b>
            <br><br>
            <ul class="list">
                <li>Организация поездок и трансферов: Забудьте о сложностях с бронированием билетов или поиском транспорта. Мы обеспечим все необходимые трансферы, забронируем авиабилеты и предоставим авто с водителем в любое время и в любом месте.</li>
                <br><br>
                <li>Бронирование лучших отелей и ресторанов: Мы подберем для вас идеальное место для проживания, будь то уютный бутик-отель или роскошный курорт. Также мы поможем забронировать столики в лучших ресторанах по всему миру.</li>
                <br><br>
                <li>Организация досуга и экскурсий: Хотите посетить закрытые мероприятия, устроить частную экскурсию по достопримечательностям или получить доступ к особым культурным событиям? Мы организуем всё так, чтобы ваш досуг был насыщенным и интересным.</li>
                <br><br>
                <li>Личное сопровождение: Если вам нужна помощь на протяжении всей поездки — от сопровождения на деловых встречах до организации мероприятий — наш сервис всегда готов предложить опытных помощников и специалистов, которые будут рядом и решат любые вопросы.</li>
            </ul>
            <br>
            <b>Почему выбирают наш консьерж-сервис?</b>
            <br>
            Консьерж-сервис — это возможность сосредоточиться на главном, доверив решение всех организационных вопросов профессионалам. Мы обеспечим вашу поездку всем необходимым, чтобы вы могли наслаждаться каждым моментом и не думать о мелочах. Ваши пожелания всегда в приоритете, и мы делаем все, чтобы превратить любое путешествие в приятное и беспроблемное приключение.
        </h5>
    </div>
</Layout>