---
import Layout from '../../layouts/Main.astro';
import Quote from '../../components/Quote.astro';
import BreadCrumbs from "../../components/BreadCrumbs.astro";

import hero from '../../assets/img/yachts-hero.jpg';
---

<Layout
        title="Аренда яхт"
        heroImg={hero}
        heroTitle="АРЕНДА ЯХТ"
>
    <BreadCrumbs/>
    <div class="container" style="max-width: 1100px;margin: auto; padding: 50px 0 70px 0;">
        <h5 class="text-justify">
            Морские путешествия на яхте — это возможность открыть для себя новые горизонты, насладиться красотой природы и провести время в окружении комфорта и уединения. Аренда яхт позволяет полностью погрузиться в морскую атмосферу, будь то спокойный отдых на воде или активное исследование побережий и островов.
            <br><br>
            Почему аренда яхты — это идеальный выбор для путешествия?
            <br><br>
            <ul class="list">
                <li>Свобода маршрутов: Вы сами определяете маршрут и темп путешествия. Исследуйте скрытые бухты, дикие пляжи, известные морские курорты или отправьтесь в длительное плавание по открытым водам.</li>
                <br><br>
                <li>Разнообразие яхт: Мы предлагаем широкий выбор яхт для разных видов отдыха — от небольших парусных судов для уютных путешествий вдвоем до просторных моторных яхт, идеально подходящих для больших компаний.</li>
                <br><br>
                <li>Экипаж на борту: В зависимости от ваших пожеланий, можно арендовать яхту с опытным экипажем, который позаботится о всех деталях путешествия, от навигации до кулинарных шедевров, или взять судно без экипажа для полного контроля над своим маршрутом.</li>
                <br><br>
                <li>Активный отдых: На борту вы сможете наслаждаться водными развлечениями, такими как дайвинг, сноркелинг, водные лыжи или катание на каяке. Для тех, кто любит активный отдых, аренда яхты открывает массу возможностей.</li>
                <br><br>
                <li>Комфорт на борту: Каждая яхта оборудована всем необходимым для комфортного проживания на воде — просторные каюты, современные кухни, зоны для отдыха на открытом воздухе и даже бассейны или джакузи на некоторых моделях.</li>
            </ul>
        </h5>
    </div>
</Layout>