<footer>
    <div class="container">
        <div class="questions">
            <div class="left-text">
                <b>Остались вопросы или вы сомневаетесь, реализуемо ли ваше желание?</b>
                <p>Оставьте свои данные и премиум-ассистент свяжется с вами в течение нескольких минут. Всего пара фраз, и вы поймете – мы
                можем то, на что остальные говорят «невозможно».</p>
            </div>
            <div class="right-text"><p>Наши операторы доступны 24/7: +442038681146<br> EMAIL: info@limotis.com</p></div>
        </div>
        <hr>
        <div class="links">
            <div class="col">
                <img src="/img/logo.png" alt="logo limotis" width="100" >
            </div>
            <div class="col">
                <span class="title">Наши 24/7 контакты:</span>
                <ul>
                    <li><a href="tel:+442038681146">+442038681146</a></li>
                    <li><a href="mailto:info@limotis.com">info@limotis.com</a></li>
                    <li><a href="https://www.google.com/maps/search/Limotis LTD, 71-75 Shelton Street, London, WC2H 9JQ">Limotis LTD, 71-75 Shelton Street, London,  WC2H 9JQ</a></li>
                    <li><a>IATA Accredited: 96046193</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="title">Континенты</span>
                <ul>
                    <li><a href="/continents/europe">Европа</a></li>
                    <li><a href="/continents/africa">Африка</a></li>
                    <li><a href="/continents/north-america">С.Америка</a></li>
                    <li><a href="/continents/south-america">Ю.Америка</a></li>
                    <li><a href="#">Австралия</a></li>
                    <li><a href="/continents/antarctica">Антарктида</a></li>
                    <li><a href="/continents/asia.html">Азия</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="title">Услуги</span>
                <ul>
                    <li><a href="#">Отели</a></li>
                    <li><a href="/services/transfer.html">Трансферы</a></li>
                    <li><a href="/services/excursions.html">Экскурсии</a></li>
                    <li><a href="/services/exclusive-purchases">Эксклюзивные Покупки</a></li>
                    <li><a href="/services/private-flights">Частные перелеты</a></li>
                    <li><a href="/services/individual-travels">Индивидуальные Путешествия</a></li>
                    <li><a href="/services/premium-accommodation">Премиальное размещение</a></li>
                    <li><a href="/services/health-tourism">Оздоровительный Туризм</a></li>
                    <li><a href="/services/vip-services">ВИП в аэропортах</a></li>
                    <li><a href="/services/thematic-tours">Тематические Туры</a></li>
                    <li><a href="#">Визовая поддержка</a></li>
                    <li><a href="/services/vip-concierge">ВИП-консьерж</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright text-center">
            <p>Copyright Limotis ©2024 All rights reserved</p>
        </div>
    </div>
</footer>
<style lang="scss">
footer{
    background-color: #1F2838;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    .container{
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        color: white;
        width: 100%;
        .left-text{
            max-width: 643px;
            margin-right: 95px;
        }
        .questions{
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            align-items: center;
        }
        hr{
            position: absolute;
            width: 100%;
            left: 0;
            margin: 0;
        }
        .links{
            padding-top: 80px;
            display: flex;
            justify-content: space-between;
            .col{
                .title{
                    border-bottom: 1px solid white;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 40px;
                    display: inline-block;
                    margin-bottom: 30px;
                }
                ul{
                    li{
                        margin-bottom: 11px;
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .copyright{
            font-size: 13px;
            font-weight: 600;
            margin-top: 100px;
        }
    }
}
</style>
